/* card */

.illuvial-list {
  min-width: auto;
  display: block;
  margin: 2em 0 0;
  @include respond-to("tablet") {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
  }
}
.card {
  margin-bottom: 1em;
  box-shadow: rgba(0, 0, 0, 0.2) 3px 6px 10px;
  // border: solid 1px #ccc;
  @include respond-to("tablet") {
    margin-right: 20px;
    width: 326px;
  }
}

.img {
  overflow: hidden;
  height: 250px;
  background: #fff;
  text-align: center;
  border: 1px solid #fff;
}

.img img {
  max-height: 100%;
}

.card h3 {
  font-size: 1.6em;
  padding: 0.6em 0.4em 1em;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.content p {
  margin: 0;
  font-size: 0.7em;
  color: #222;
}

.illuvial-card__edit {
  padding: 1em 1em;
  text-align: left;
  border: 1px solid #fff;
  border-top: none;
}

.illuvial-card__content-group {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  > div {
    width: 50%;
    height: 70px;
    border: 1px solid #fe53bb;
    padding: 12px;
  }

  label {
    font-size: 12px;
    color: #ccc;
  }

  label + div {
    font-weight: bold;
  }
}
